<div class="container">
  <div class="row">
    
    <div class="col">
        <form>
            <div class="form-group">
                <label for="nameTask" class="form-label">Nombre de Tarea</label>
                <input type="text" class="form-control" id="nameTask" placeholder="Ejm. limpiar cocina">
            </div>
            <div class="form-group">
                <label for="descriptionTask" class="form-label">Descripcion de tarea</label>
                <input type="text" class="form-control" id="descriptionTask" placeholder="Explicar toda la tarea que hacer">
            </div>
            <div class="form-group">
                <label for="dateTask" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="dateTask" placeholder="30/05/2025">
            </div>
            <hr class="my-4">
            <button type="submit" class="w-100 btn btn-primary btn-lg">Crear</button>
        </form>
    </div>
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">comprar pan</li>
            <li class="list-group-item">tender la cama</li>
            <li class="list-group-item">Lavar los dientes</li>
        </ul>
    </div>
    <div class="col">
        <h3>Nombre de tarea</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit laborum fugit architecto ullam repudiandae!.</p>
    </div>
  </div>
</div>

